.node {
  display: flex;
  align-content: center;
}

.tree {
  background-color: rgb(235, 235, 235);
  height: auto;
  padding: 3rem;
  min-height: 90vh;
  height: max-content;
}

.parent {
  margin: 0 0 15px 15px;
  font-size: 1.3rem;
}

.child {
  margin: 0;
  padding: 0;
  margin-left: 35px;
}
